	/*Site background*/
body {
    background-image: url("images/site_wallpaper/site_wallpaper_light.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}}
