/*font color and position*/
selector {color: black;}
h1, h2, p{text-align: center;}

/*Site Wallpaper*/
body {
    background-image: url("images/site_wallpaper/site_wallpaper_light.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
