	/*Site background*/
body {
    background-image: url("images/site_background/site_wallpaper.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
